[Desktop Entry]
Name=Aud-CLI-o
Comment=Zum herunterladen von Liedern von YouTube und anderen Plattformen.
Exec=bash /Pfad/zu/Aud-CLI-o.sh
Icon=/Pfad/zum/Icon.png
Terminal=true
Type=Application
Categories=Network;
